
<div class="panel panel-bank">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img src="http://saystay.com/assets/images/icon-user-default.png"  alt="" class="img-responsive" height="100" width="100">
            </div>
            <div class="col-md-8">
                <blockquote>
                    <p>{{vm.myData.user.firstName}} {{vm.myData.user.lastName}}</p>
                </blockquote>
                <p>
                    <i class="icon-envelope"></i> {{vm.myData.user.email}}<br>
                </p>
            </div>
           <!-- <div>
                <h5 class="col-md-3 col-sm-3 col-xs-3" for="name">Name:</h5>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h5 id="name">sss{{vm.myData.fname}}{{vm.myData.lname}}</h5>
                </div>

            </div>
            <div>
                <h5 class="col-md-3 col-sm-3 col-xs-3" for="address">Email:</h5>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h5 id="address">sss{{vm.myData.email}}</h5>
                </div>
            </div>-->
        </div>
    </div>

</div>
